<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SE_Bank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UpdateDateServlet</display-name>
    <servlet-name>UpdateDateServlet</servlet-name>
    <servlet-class>se.bank.src.UpdateDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDateServlet</servlet-name>
    <url-pattern>/UpdateDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDetails</display-name>
    <servlet-name>AccountDetails</servlet-name>
    <servlet-class>se.bank.src.AccountDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDetails</servlet-name>
    <url-pattern>/AccountDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDetailsServlet</display-name>
    <servlet-name>AccountDetailsServlet</servlet-name>
    <servlet-class>AccountDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDetailsServlet</servlet-name>
    <url-pattern>/AccountDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checklogin</display-name>
    <servlet-name>checklogin</servlet-name>
    <servlet-class>se.bank.src.checklogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checklogin</servlet-name>
    <url-pattern>/checklogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registration</display-name>
    <servlet-name>registration</servlet-name>
    <servlet-class>se.bank.src.registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addrecipient</display-name>
    <servlet-name>addrecipient</servlet-name>
    <servlet-class>se.bank.src.addrecipient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addrecipient</servlet-name>
    <url-pattern>/addrecipient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fundtransfer</display-name>
    <servlet-name>fundtransfer</servlet-name>
    <servlet-class>se.bank.src.fundtransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fundtransfer</servlet-name>
    <url-pattern>/fundtransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editrecipient</display-name>
    <servlet-name>editrecipient</servlet-name>
    <servlet-class>se.bank.src.editrecipient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editrecipient</servlet-name>
    <url-pattern>/editrecipient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleterecipient</display-name>
    <servlet-name>deleterecipient</servlet-name>
    <servlet-class>se.bank.src.deleterecipient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleterecipient</servlet-name>
    <url-pattern>/deleterecipient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotpassword</display-name>
    <servlet-name>forgotpassword</servlet-name>
    <servlet-class>se.bank.src.forgotpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotpassword</servlet-name>
    <url-pattern>/forgotpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkotp</display-name>
    <servlet-name>checkotp</servlet-name>
    <servlet-class>se.bank.src.checkotp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkotp</servlet-name>
    <url-pattern>/checkotp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>otppasswordreset</display-name>
    <servlet-name>otppasswordreset</servlet-name>
    <servlet-class>se.bank.src.otppasswordreset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>otppasswordreset</servlet-name>
    <url-pattern>/otppasswordreset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resetpassword</display-name>
    <servlet-name>resetpassword</servlet-name>
    <servlet-class>se.bank.src.resetpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetpassword</servlet-name>
    <url-pattern>/resetpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Autopayservlet</display-name>
    <servlet-name>Autopayservlet</servlet-name>
    <servlet-class>se.bank.src.Autopayservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Autopayservlet</servlet-name>
    <url-pattern>/Autopayservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserDetails</display-name>
    <servlet-name>EditUserDetails</servlet-name>
    <servlet-class>se.bank.src.EditUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserDetails</servlet-name>
    <url-pattern>/EditUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>makepayment</display-name>
    <servlet-name>makepayment</servlet-name>
    <servlet-class>se.bank.src.makepayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>makepayment</servlet-name>
    <url-pattern>/makepayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createecheque</display-name>
    <servlet-name>createecheque</servlet-name>
    <servlet-class>se.bank.src.createecheque</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createecheque</servlet-name>
    <url-pattern>/createecheque</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>depositecheque</display-name>
    <servlet-name>depositecheque</servlet-name>
    <servlet-class>se.bank.src.depositecheque</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>depositecheque</servlet-name>
    <url-pattern>/depositecheque</url-pattern>
  </servlet-mapping>
</web-app>