<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SE_Term_Project</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>se.term_project.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyMainServlet</display-name>
    <servlet-name>FacultyMainServlet</servlet-name>
    <servlet-class>se.term_project.FacultyMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyMainServlet</servlet-name>
    <url-pattern>/FacultyMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Facutly0Servlet</display-name>
    <servlet-name>Facutly0Servlet</servlet-name>
    <servlet-class>se.term_project.Facutly0Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Facutly0Servlet</servlet-name>
    <url-pattern>/Facutly0Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>se.term_project.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>se.term_project.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentMainServlet</display-name>
    <servlet-name>StudentMainServlet</servlet-name>
    <servlet-class>se.term_project.StudentMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMainServlet</servlet-name>
    <url-pattern>/StudentMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffMainServlet</display-name>
    <servlet-name>StaffMainServlet</servlet-name>
    <servlet-class>se.term_project.StaffMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffMainServlet</servlet-name>
    <url-pattern>/StaffMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Create_test</display-name>
    <servlet-name>Create_test</servlet-name>
    <servlet-class>se.term_project.Create_test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create_test</servlet-name>
    <url-pattern>/Create_test</url-pattern>
  </servlet-mapping>
</web-app>